## players.csv dataset

In [41]:
import pandas as pd
import numpy as np


df = pd.read_csv("players.csv")player_allstar.csv

In [42]:
df.columns

Index(['ilkid', 'firstname', 'lastname', 'position', 'firstseason',
       'lastseason', 'h_feet', 'h_inches', 'weight', 'college', 'birthdate'],
      dtype='object')

In [43]:
df.dtypes

ilkid           object
firstname       object
lastname        object
position        object
firstseason      int64
lastseason       int64
h_feet         float64
h_inches       float64
weight         float64
college         object
birthdate       object
dtype: object

In [44]:
df.isnull()

,ilkid,firstname,lastname,position,firstseason,lastseason,h_feet,h_inches,weight,college,birthdate
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
3567,False,False,False,False,False,False,False,False,False,False,False
3568,False,False,False,False,False,False,False,False,False,False,False
3569,False,False,False,False,False,False,False,False,False,False,False
3570,False,False,False,False,False,False,False,False,False,False,False
3571,False,False,False,False,False,False,False,False,False,False,False

In [45]:
df.isnull().any()

ilkid          False
firstname      False
lastname       False
position       False
firstseason    False
lastseason     False
h_feet          True
h_inches        True
weight          True
college         True
birthdate       True
dtype: bool

In [46]:
df.isnull().sum()

ilkid           0
firstname       0
lastname        0
position        0
firstseason     0
lastseason      0
h_feet          9
h_inches        9
weight         15
college        56
birthdate      11
dtype: int64

In [47]:
# Filling missing values with the mode value of the colomn

cateogry_columns=df.select_dtypes(include=['object']).columns.tolist()
integer_columns=df.select_dtypes(include=['int64','float64']).columns.tolist()

for column in df:
    if df[column].isnull().any():
        if(column in cateogry_columns):
            df[column]=df[column].fillna(df[column].mode()[0])
        else:
            df[column]=df[column].fillna(df[column].mode()[0])

In [49]:
df.head(692)

,ilkid,firstname,lastname,position,firstseason,lastseason,h_feet,h_inches,weight,college,birthdate
0,ABDELAL01,Alaa,Abdelnaby,F,1990,1994,6.0,10.0,240.0,Duke,1968-06-24 00:00:00
1,ABDULKA01,Kareem,Abdul-jabbar,C,1969,1988,7.0,2.0,225.0,UCLA,1947-04-16 00:00:00
2,ABDULMA01,Mahmo,Abdul-rauf,G,1990,2000,6.0,1.0,162.0,LSU,1969-03-09 00:00:00
3,ABDULTA01,Tariq,Abdul-wahad,G,1997,2002,6.0,6.0,223.0,Michigan,1974-11-03 00:00:00
4,ABDURSH01,Shareef,Abdur-rahim,F,1996,2004,6.0,9.0,225.0,California,1976-12-11 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...
687,DANTLAD01,Adrian,Dantley,F,1976,1990,6.0,5.0,208.0,Notre Dame,1956-02-28 00:00:00
688,DANTOMI01,Mike,Dantoni,G,1975,1975,6.0,7.0,210.0,UCLA,1945-01-01 00:00:00
689,DARCEHE01,Henry,Darcey,C,1952,1952,6.0,7.0,217.0,Oklahoma A&M,1930-03-03 00:00:00
690,DARDEJI01,Jimmy,Darden,G,1949,1949,6.0,1.0,170.0,Denver,1922-06-19 00:00:00
691,DARDEOL01,Oliver,Darden,F,1967,1969,6.0,6.5,235.0,Michigan,1944-07-28 00:00:00

In [50]:
df.isnull().sum()

ilkid          0
firstname      0
lastname       0
position       0
firstseason    0
lastseason     0
h_feet         0
h_inches       0
weight         0
college        0
birthdate      0
dtype: int64

In [51]:
# Removing duplicate rows

df = df.drop_duplicates()

In [57]:
df.to_csv("players.csv")

## player_allstar.csv dataset

In [69]:
df = pd.read_csv("player_allstar.csv")

In [71]:
df.columns

Index(['ilkid', 'year', 'firstname', 'lastname', 'conference', 'leag', 'gp',
       'minutes', 'pts', 'dreb', 'oreb', 'reb', 'asts', 'stl', 'blk',
       'turnover', 'pf', 'fga', 'fgm', 'fta', 'ftm', 'tpa', 'tpm'],
      dtype='object')

In [72]:
df.dtypes

ilkid          object
year            int64
firstname      object
lastname       object
conference     object
leag           object
gp              int64
minutes         int64
pts           float64
dreb          float64
oreb          float64
reb           float64
asts          float64
stl           float64
blk           float64
turnover      float64
pf            float64
fga           float64
fgm           float64
fta           float64
ftm           float64
tpa           float64
tpm           float64
dtype: object

In [73]:
df.isnull().sum()

ilkid            0
year             0
firstname        0
lastname         0
conference       0
leag             0
gp               0
minutes          0
pts             48
dreb          1139
oreb          1139
reb             48
asts            48
stl           1234
blk           1234
turnover      1139
pf            1092
fga             48
fgm             48
fta             48
ftm             48
tpa           1092
tpm           1092
dtype: int64

In [74]:
# Filling missing values with zeros

df.fillna(0, inplace=True)

In [75]:
df.isnull().sum()

ilkid         0
year          0
firstname     0
lastname      0
conference    0
leag          0
gp            0
minutes       0
pts           0
dreb          0
oreb          0
reb           0
asts          0
stl           0
blk           0
turnover      0
pf            0
fga           0
fgm           0
fta           0
ftm           0
tpa           0
tpm           0
dtype: int64

In [76]:
# Removing duplicate rows

df = df.drop_duplicates()

In [78]:
df.to_csv("player_allstar.csv")

## player_playoffs.csv dataset

In [83]:
df = pd.read_csv("player_playoffs.csv")

In [84]:
df.columns

Index(['ilkid', 'year', 'firstname', 'lastname', 'team', 'leag', 'gp',
       'minutes', 'pts', 'dreb', 'oreb', 'reb', 'asts', 'stl', 'blk',
       'turnover', 'pf', 'fga', 'fgm', 'fta', 'ftm', 'tpa', 'tpm'],
      dtype='object')

In [85]:
df.dtypes

ilkid        object
year          int64
firstname    object
lastname     object
team         object
leag         object
gp            int64
minutes       int64
pts           int64
dreb          int64
oreb          int64
reb           int64
asts          int64
stl           int64
blk           int64
turnover      int64
pf            int64
fga           int64
fgm           int64
fta           int64
ftm           int64
tpa           int64
tpm           int64
dtype: object

In [86]:
df.isnull().sum()

ilkid        0
year         0
firstname    0
lastname     0
team         0
leag         0
gp           0
minutes      0
pts          0
dreb         0
oreb         0
reb          0
asts         0
stl          0
blk          0
turnover     0
pf           0
fga          0
fgm          0
fta          0
ftm          0
tpa          0
tpm          0
dtype: int64

In [87]:
# Removing duplicate rows

df = df.drop_duplicates()

In [88]:
df.to_csv("player_playoffs.csv")

## player_playoffs_career.csv

In [89]:
df = pd.read_csv("player_playoffs_career.csv")

In [90]:
df.columns

Index(['ilkid', 'firstname', 'lastname', 'leag', 'gp', 'minutes', 'pts',
       'dreb', 'oreb', 'reb', 'asts', 'stl', 'blk', 'turnover', 'pf', 'fga',
       'fgm', 'fta', 'ftm', 'tpa', 'tpm'],
      dtype='object')

In [91]:
df.dtypes

ilkid        object
firstname    object
lastname     object
leag         object
gp            int64
minutes       int64
pts           int64
dreb          int64
oreb          int64
reb           int64
asts          int64
stl           int64
blk           int64
turnover      int64
pf            int64
fga           int64
fgm           int64
fta           int64
ftm           int64
tpa           int64
tpm           int64
dtype: object

In [92]:
df.isnull().sum()

ilkid        0
firstname    0
lastname     0
leag         0
gp           0
minutes      0
pts          0
dreb         0
oreb         0
reb          0
asts         0
stl          0
blk          0
turnover     0
pf           0
fga          0
fgm          0
fta          0
ftm          0
tpa          0
tpm          0
dtype: int64

In [93]:
# Removing duplicate rows

df = df.drop_duplicates()

In [94]:
df.to_csv("player_playoffs_career.csv")

## player_regular_season.csv dataset

In [95]:
df = pd.read_csv("player_regular_season.csv")

In [96]:
df.columns

Index(['ilkid', 'year', 'firstname', 'lastname', 'team', 'leag', 'gp',
       'minutes', 'pts', 'oreb', 'dreb', 'reb', 'asts', 'stl', 'blk',
       'turnover', 'pf', 'fga', 'fgm', 'fta', 'ftm', 'tpa', 'tpm'],
      dtype='object')

In [97]:
df.dtypes

ilkid         object
year           int64
firstname     object
lastname      object
team          object
leag          object
gp             int64
minutes        int64
pts            int64
oreb           int64
dreb           int64
reb            int64
asts           int64
stl            int64
blk            int64
turnover     float64
pf             int64
fga            int64
fgm            int64
fta            int64
ftm            int64
tpa            int64
tpm            int64
dtype: object

In [98]:
df.isnull().sum()

ilkid          0
year           0
firstname      0
lastname       0
team           0
leag           0
gp             0
minutes        0
pts            0
oreb           0
dreb           0
reb            0
asts           0
stl            0
blk            0
turnover     294
pf             0
fga            0
fgm            0
fta            0
ftm            0
tpa            0
tpm            0
dtype: int64

In [99]:
# Filling missing values with zeros

df.fillna(0, inplace=True)

In [100]:
df.isnull().sum()

ilkid        0
year         0
firstname    0
lastname     0
team         0
leag         0
gp           0
minutes      0
pts          0
oreb         0
dreb         0
reb          0
asts         0
stl          0
blk          0
turnover     0
pf           0
fga          0
fgm          0
fta          0
ftm          0
tpa          0
tpm          0
dtype: int64

In [101]:
# Removing duplicate rows

df = df.drop_duplicates()

In [103]:
df.to_csv("player_regular_season.csv")

## player_regular_season_career.csv dataset

In [104]:
df = pd.read_csv("player_regular_season_career.csv")

In [105]:
df.columns

Index(['ilkid', 'firstname', 'lastname', 'leag', 'gp', 'minutes', 'pts',
       'oreb', 'dreb', 'reb', 'asts', 'stl', 'blk', 'turnover', 'pf', 'fga',
       'fgm', 'fta', 'ftm', 'tpa', 'tpm'],
      dtype='object')

In [106]:
df.dtypes

ilkid        object
firstname    object
lastname     object
leag         object
gp            int64
minutes       int64
pts           int64
oreb          int64
dreb          int64
reb           int64
asts          int64
stl           int64
blk           int64
turnover      int64
pf            int64
fga           int64
fgm           int64
fta           int64
ftm           int64
tpa           int64
tpm           int64
dtype: object

In [107]:
df.isnull().sum()

ilkid        0
firstname    0
lastname     0
leag         0
gp           0
minutes      0
pts          0
oreb         0
dreb         0
reb          0
asts         0
stl          0
blk          0
turnover     0
pf           0
fga          0
fgm          0
fta          0
ftm          0
tpa          0
tpm          0
dtype: int64

In [108]:
# Removing duplicate rows

df = df.drop_duplicates()

In [109]:
df.to_csv("player_regular_season_career.csv")

## teams.csv dataset

In [111]:
df = pd.read_csv("teams.csv")

In [112]:
df.columns

Index(['team', 'location', 'name', 'leag'], dtype='object')

In [113]:
df.dtypes

team        object
location    object
name        object
leag        object
dtype: object

In [114]:
df.isnull().sum()

team        0
location    0
name        1
leag        0
dtype: int64

In [115]:
# drop row with null value
df = df.dropna(how='any',axis=0)

In [116]:
df.isnull().sum()

team        0
location    0
name        0
leag        0
dtype: int64

In [117]:
# Removing duplicate rows

df = df.drop_duplicates()

In [118]:
df.to_csv("teams.csv")

## team_season.csv dataset

In [119]:
df = pd.read_csv("team_season.csv")

In [120]:
df.columns

Index(['team', 'year', 'leag', 'o_fgm', 'o_fga', 'o_ftm', 'o_fta', 'o_oreb',
       'o_dreb', 'o_reb', 'o_asts', 'o_pf', 'o_stl', 'o_to', 'o_blk', 'o_3pm',
       'o_3pa', 'o_pts', 'd_fgm', 'd_fga', 'd_ftm', 'd_fta', 'd_oreb',
       'd_dreb', 'd_reb', 'd_asts', 'd_pf', 'd_stl', 'd_to', 'd_blk', 'd_3pm',
       'd_3pa', 'd_pts', 'pace', 'won', 'lost'],
      dtype='object')

In [121]:
df.dtypes

team       object
year        int64
leag       object
o_fgm       int64
o_fga       int64
o_ftm       int64
o_fta       int64
o_oreb      int64
o_dreb      int64
o_reb       int64
o_asts      int64
o_pf        int64
o_stl       int64
o_to        int64
o_blk       int64
o_3pm       int64
o_3pa       int64
o_pts       int64
d_fgm       int64
d_fga       int64
d_ftm       int64
d_fta       int64
d_oreb      int64
d_dreb      int64
d_reb       int64
d_asts      int64
d_pf        int64
d_stl       int64
d_to        int64
d_blk       int64
d_3pm       int64
d_3pa       int64
d_pts       int64
pace      float64
won         int64
lost        int64
dtype: object

In [122]:
df.isnull().sum()

team      0
year      0
leag      0
o_fgm     0
o_fga     0
o_ftm     0
o_fta     0
o_oreb    0
o_dreb    0
o_reb     0
o_asts    0
o_pf      0
o_stl     0
o_to      0
o_blk     0
o_3pm     0
o_3pa     0
o_pts     0
d_fgm     0
d_fga     0
d_ftm     0
d_fta     0
d_oreb    0
d_dreb    0
d_reb     0
d_asts    0
d_pf      0
d_stl     0
d_to      0
d_blk     0
d_3pm     0
d_3pa     0
d_pts     0
pace      0
won       0
lost      0
dtype: int64

In [123]:
# Removing duplicate rows

df = df.drop_duplicates()

In [124]:
df.to_csv("team_season.csv")